extends templates/layout-home.pug

block meta
  title Home
  meta(name='description', content='Home page!')

//- block append head
//-   link(rel="stylesheet", href="some.css")
//-   script(src='some.js')

block popup

  button.button.button--page authorization
  section.popup
    .popup__background
      .popup__inner
        button.popup__close
          svg(width="15", height="15").popup__close-svg
            use(xlink:href="img/sprite-svg.svg#cross")
        h1.popup__title Log in
        form.form(action="post")
          div.form__block
            .form__input-wrapper
              input.form__input(type="text" placeholder="Email" required)
            .form__input-wrapper  
              input.form__input(type="password" placeholder="Password" required)
              span.form__input-password
          button.form__btn.button(type="submit") Authorise me
        .popup__links
          a(href="#").popup__link Go to registration form
          a(href="#").popup__link Forgot password?
       
  

//- block append page-bottom
//-   script(src='some.js')
