.form {

  &__block {
    display: flex;
    flex-direction: column;
  }

  &__input-wrapper  {
    position: relative;
    margin-bottom: 29px;
  }

  &__input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 45px;
    padding: 0;
    padding-left: 11px;
    padding-right: 40px;
    border: 1px solid #A0A0A0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 14px;
    line-height: 16px;
    color: #A0A0A0;
  }

  &__input-password {
    position: absolute;
    right: 10px;
    top: 50%;
    width: 25px;
    height: 20px;
    background: url('../img/eye-blocked.png') no-repeat;
    background-size: contain;
    transform: translateY(-50%);
    cursor: pointer;
  }

  &__input-wrapper:nth-last-child(1) {
    margin-bottom: 32px;
  }

  &__btn {
    width: 227px;
    margin-bottom: 24px;
  }
}
